$themeColor: #000080;
$subColor: #ffffff;

div.sampler-popover {
  position: absolute;
  z-index: 2;
}

div.sampler-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

div.sampler-view {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 560px;
  height: 360px;
  margin: auto;
  padding: 20px;
  background-color: $subColor;
  border-radius: 5px;
  div.sampler-method {
    h3 {
      margin: 0;
      padding-bottom: 7px;
    }
    font-family: OpenSans;
  }
  div.sampler-body {
    position: relative;
    width: 558px;
    height: 190px;
    margin-top: 10px;
    padding: 0;
    border: 1px solid $themeColor;
    border-radius: 3px;
    overflow: scroll;
    ul.sampler-list {
      padding: 0;
      list-style: none;
      cursor: default;
      li {
        padding: 10px 10px 10px 30px;
        &:hover {
          background-color: #dcdcdc;
        }
        &.active {
          background-color: #dcdcdc;
        }
        span {
          margin-right: 10px;
          font-size: 9px;
          font-family: OpenSans;
        }
        span.sample-key {
          margin-right: 20px;
          font-size: 12px;
        }
      }
    }
  }
  div.sampler-target {
    position: relative;
    width: 558px;
    height: 25px;
    margin-top: 10px;
    border: 1px solid $themeColor;
    border-radius: 3px;
    span {
      display: block;
      padding-left: 10px;
      line-height: 25px;
      color: $themeColor;
      font-size: 11px;
      font-family: OpenSans-Bold;
    }
    span.sampler-label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      color: #000000;
      font-size: 12px;
    }
  }
  div.sampler-btn > button {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    color: $subColor;
    border: 1px solid $subColor;
    border-radius: 3px;
    background-color: rgb(66, 133, 244);
    font-size: 10px;
    font-family: OpenSans-Bold;
    cursor: pointer;
  }
  div.sampler-progress {
    width: 90%;
    height: 100%;
    margin: auto;
    div.sampler-progressbar {
      width: 100%;
      height: 20px;
      div {
        background-color: $themeColor;
      }
    }
  }
  div.none-selected {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    margin: auto;
    text-align: center;
    font-size: 12px;
    font-family: OpenSans;
    cursor: default;
  }
}